@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=latin-ext');

html {
  overflow-y: scroll;
}
.app {
  display: flex;
}

.buttons {
  width: 10%;
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.circles {
  width:81%;
  margin-left: 5%;
}

button {
  border: 0px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(44, 187, 0);
  transition: 1s all;
  outline:none;
  margin-bottom: 10px;
}

button:last-child {
  background-color: rgb(211, 6, 6);
}

button:hover {
  background-color: rgba(44, 187, 0, 0.500);
}

button:last-child:hover {
  background-color: rgb(211, 6, 6, 0.500);
}

svg {
  vertical-align:top;
}

@media (max-width: 650px){
  .buttons {
    width: 20%;
  }
  .circles {
    width: 71%;
  }
}